body{
  background-color: black !important;
  color: antiquewhite !important;
}
#hat{
  display: flex;
  flex-wrap: wrap;

}

#allRegStudents{
border: 2px black solid;
}

#voldyArmy{
border: 5px red solid;
}
